.workarea {
	position:relative;
	width:100%;
	background-color:black;
}

.fullcore {
	display: inline-block;
	width:33%;
}

#octant {
	position:relative;
	display: inline-block;
	left:4%;
	width:25%;
}

#newcore {
	position: absolute;  
	right: 0;  
	top: 0;
}

td.fccell {
	background-color:white;
	height:100%;
}

.fullcoretable {
	width:100%;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
	background-color:white;
}

.section {
	display: inline-block;
	position:relative;
}

#secvert {
	position:relative;
}

#secsI {
	position:absolute;
}

#secsII {
	position:absolute;
}

.toolbar {
	display: inline-block;
}
#newrods {
	float:right;
}

#info_and_new {
	height:auto;
}

#exampleHidden {
	position:absolute;
	height:0px;
	width:0px;
	top:0px;
	left:0px;
	display:none;
}